@import "../color";

.services-area {
  padding-top: 90px;
  padding-bottom: 90px;
}

.services-items {
  .service-item {
    border: 1px solid $border-main;
    border-radius: 20px;
    transition: 0.3s;
    position: relative;
    padding: 44px 48px 41px 48px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    h2 {
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 8px;
      color: $white;

      a {
        color: $white;
        transition: 0.3s;
      }
    }

    &:hover {
      border-color: $primary;

      h2 a {
        color: $primary;
      }
    }

    p {
      font-size: 14px;
      color: $text-gray;
      margin-bottom: 30px;
    }

    .projects {
      font-size: 12px;
      color: $white;
      text-transform: uppercase;
      display: inline-block;
    }

    &:hover .projects {
      text-decoration: underline;
    }

    i {
      position: absolute;
      font-size: 30px;
      color: $primary;
      top: 45px;
      right: 50px;
    }
  }
}

@media (max-width: 1220px) {
  .services-items {
    display: flex;
    gap: 15px;
  }
  .services-items .service-item {
    margin-bottom: 0;
    padding: 30px 30px 30px 30px;
    width: 33.3333%;
  }
  .services-items .service-item h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .services-items .service-item p {
    margin-bottom: 25px;
  }
  .services-items .service-item i {
    font-size: 20px;
    top: 25px;
    right: 20px;
  }
}

@media (max-width: 767px) {
  .services-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .services-items .service-item {
    width: 100%;
  }
}

@media (max-width: 584px) {
  .services-items {
    grid-template-columns: 1fr;
  }
}
